# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [103]:
# Import your libraries:
#29/6/22
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures, StandardScaler
from sklearn.model_selection import train_test_split

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [104]:
# Your code here:
from sklearn.datasets import load_diabetes

diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [105]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

In [106]:
"""
Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level
"""
diabetes['feature_names']

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [107]:
diabetes.feature_names #same as before

['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [108]:
# Your code here:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - age     age in years
      - sex
      - bmi     body mass index
      - bp      average blood pressure
      - s1      tc, total serum cholesterol
      - s2      ldl, low-density lipoproteins
      - s3      hdl, high-density lipoproteins
      - s4      tch, total cholesterol / HDL
      - s5      ltg, possibly log of serum triglycerides level
      - s6      glu, blood sugar level

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [109]:
# Enter your answer here:
"""
How many attributes are there in the data? What do they mean? 
10: ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

What is the relation between diabetes['data'] and diabetes['target']?
data is our features
target our label

How many records are there in the data?
442
"""

"\nHow many attributes are there in the data? What do they mean? \n10: ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']\n\nWhat is the relation between diabetes['data'] and diabetes['target']?\ndata is our features\ntarget our label\n\nHow many records are there in the data?\n442\n"

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [110]:
# Your code here:
print(len(diabetes.data)) #442
print(len(diabetes.target))
#They are consistent with the data description

442
442

In [111]:
#Features and labels
####################
features = pd.DataFrame(diabetes['data'], columns = diabetes['feature_names'])
labels = pd.Series(diabetes['target'], name = 'labels')
display(features.head())
display(labels.head())

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
Name: labels, dtype: float64

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [112]:
# Your code here:
from sklearn.linear_model import LinearRegression #Already imported above

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [113]:
# Your code here:
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [114]:
"""
Theory:
Split arrays or matrices into random train and test subsets.
sklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)[source]


test_sizefloat or int, default=None (same for train_size)
    -If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split. 
    -If int, represents the absolute number of test samples. If None, the value is set to the complement of the train size. 
     If train_size is also None, it will be set to 0.25.
 
random_state int, RandomState instance or None, default=None
    Controls the shuffling applied to the data before applying the split. 
    Pass an int for reproducible output across multiple function calls.
    
    #random_state for reproducibility
    #random_state = 0 split it, but split it in the same way. So not random, but we will get the same result in the class
"""

'\nTheory:\nSplit arrays or matrices into random train and test subsets.\nsklearn.model_selection.train_test_split(*arrays, test_size=None, train_size=None, random_state=None, shuffle=True, stratify=None)[source]\n\n\ntest_sizefloat or int, default=None (same for train_size)\n    -If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split. \n    -If int, represents the absolute number of test samples. If None, the value is set to the complement of the train size. \n     If train_size is also None, it will be set to 0.25.\n \nrandom_state int, RandomState instance or None, default=None\n    Controls the shuffling applied to the data before applying the split. \n    Pass an int for reproducible output across multiple function calls.\n    \n    #random_state for reproducibility\n    #random_state = 0 split it, but split it in the same way. So not random, but we will get the same result in the class\n'

In [115]:
# Your code here:

"""
#X_train, X_test, y_train, y_test 
X_train-diabetes_data_train
X_test-diabetes_data_test
y_train-diabetes_target_train
y_test -diabetes_target_test
"""
# Use the last 20 records for the test data: test_size=20
diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(X, y, test_size=20, random_state = 1)

In [116]:
len(diabetes_target_test)

20

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [117]:
# Your code here:
diabetes_model.fit(X, y)
##y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
#β0: intercept
#β1-βn: coefficients

print(diabetes_model.intercept_) #β0: intercept
print(diabetes_model.coef_)#β1-βn: coefficients

152.13348416289597
[ -10.0098663  -239.81564367  519.84592005  324.3846455  -792.17563855
  476.73902101  101.04326794  177.06323767  751.27369956   67.62669218]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [118]:
# Your code here:
#y_test -diabetes_target_test
#model.predict(X_test)
diabetes_model.predict(diabetes_data_test)

array([120.66560385, 112.11054883, 179.15576252,  69.47575778,
       174.82799914, 193.01756549, 220.67516721, 121.22668124,
       159.93677518, 128.46225834, 211.85894518, 202.39971737,
        91.20395862,  75.16804478, 235.16173729, 203.8691938 ,
       180.13082199, 100.70810916, 115.86820464, 171.80344337])

#### Print your `diabetes_target_test` and compare with the prediction.

In [119]:
# Your code here:
y_predict = diabetes_target_test
y_predict

array([ 78., 152., 200.,  59., 311., 178., 332., 132., 156., 135., 220.,
       233.,  91.,  51., 195., 109., 217.,  94.,  89., 111.])

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [120]:
# Your explanation here:
#No, it's not the same and that would be imposible. we are getting a prediction of diabetes_target_test.

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../statsmodels.png)

In [121]:
#Solving error: ImportError: cannot import name '_centered' from 'scipy.signal.signaltools' (C:\Users\patri\anaconda3\lib\site-packages\scipy\signal\signaltools.py)
#pip install statsmodels

In [122]:
#pip install statsmodels==0.13.2

In [123]:
#from scipy.signal.signaltools import _centered
#from scipy.signal._signaltools import _centered

In [124]:
#https://peaku.co/es/preguntas/19537-no-se-puede-importar-el-nombre-%26%2339;-centered%26%2339;-desde-%26%2339;scipysignalsignaltools%26%2339;
"""
import scipy.signal.signaltools 
def _centered(arr, newsize):
    newsize = np.asarray(newsize) 
    currsize = np.array(arr.shape) 
    startind = (currsize - newsize) // 2 
    endind = startind + newsize 
    myslice = [slice(startind[k], endind[k]) for k in range(len(endind))] 
    return arr[tuple(myslice)] 
scipy.signal.signaltools._centered = _centered
"""

'\nimport scipy.signal.signaltools \ndef _centered(arr, newsize):\n    newsize = np.asarray(newsize) \n    currsize = np.array(arr.shape) \n    startind = (currsize - newsize) // 2 \n    endind = startind + newsize \n    myslice = [slice(startind[k], endind[k]) for k in range(len(endind))] \n    return arr[tuple(myslice)] \nscipy.signal.signaltools._centered = _centered\n'

In [125]:
#from statsmodels.compat.numpy import NP_LT_123

In [126]:
import statsmodels
import statsmodels.api as sm
import statsmodels.formula.api as smf

ImportError: cannot import name 'NP_LT_123' from 'statsmodels.compat.numpy' (C:\Users\patri\anaconda3\lib\site-packages\statsmodels\compat\numpy.py)

In [127]:
# Your code here:

#https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm
#import statsmodels.formula.api as smf

ImportError: cannot import name 'NP_LT_123' from 'statsmodels.compat.numpy' (C:\Users\patri\anaconda3\lib\site-packages\statsmodels\compat\numpy.py)

In [128]:
# Fit regression model
#results = sm.OLS(y, X).fit()
results = sm.OLS(diabetes_target_train, diabetes_data_train).fit()

# Inspect the results
print(results.summary())

NameError: name 'sm' is not defined

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [ ]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [131]:
# Your code here:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [132]:
# Your code here:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [135]:
# Your code here:
auto.dtypes #data evaluated correctly

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [139]:
# Your code here:
auto.sort_values(by='model_year',ascending=True) #70

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
396,28.0,4,120.0,79.0,2625,18.6,82,"\t""ford ranger"""
381,36.0,4,107.0,75.0,2205,14.5,82,"\t""honda accord"""
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""

In [140]:
auto.sort_values(by='model_year',ascending=False) #82

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
397,31.0,4,119.0,82.0,2720,19.4,82,"\t""chevy s-10"""
382,34.0,4,108.0,70.0,2245,16.9,82,"\t""toyota corolla"""
367,28.0,4,112.0,88.0,2605,19.6,82,"\t""chevrolet cavalier"""
368,27.0,4,112.0,88.0,2640,18.6,82,"\t""chevrolet cavalier wagon"""
369,34.0,4,112.0,88.0,2395,18.0,82,"\t""chevrolet cavalier 2-door"""
...,...,...,...,...,...,...,...,...
25,10.0,8,360.0,215.0,4615,14.0,70,"\t""ford f250"""
26,10.0,8,307.0,200.0,4376,15.0,70,"\t""chevy c20"""
27,11.0,8,318.0,210.0,4382,13.5,70,"\t""dodge d200"""
28,9.0,8,304.0,193.0,4732,18.5,70,"\t""hi 1200d"""
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""

Check the dataset for missing values and remove all rows containing at least one missing value.

In [142]:
# Your code here:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [143]:
auto[auto['horse_power'].isnull()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
32,25.0,4,98.0,NaN,2046,19.0,71,"\t""ford pinto"""
126,21.0,6,200.0,NaN,2875,17.0,74,"\t""ford maverick"""
330,40.9,4,85.0,NaN,1835,17.3,80,"\t""renault lecar deluxe"""
336,23.6,4,140.0,NaN,2905,14.3,80,"\t""ford mustang cobra"""
354,34.5,4,100.0,NaN,2320,15.8,81,"\t""renault 18i"""
374,23.0,4,151.0,NaN,3035,20.5,82,"\t""amc concord dl"""

In [144]:
auto.dropna(inplace=True)

In [145]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [147]:
# Your code here:
auto['cylinders'].value_counts()
#Only 5 possible values

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [148]:
# Your code here:
auto.drop(columns='car_name',axis=1,inplace=True)

In [165]:
features=auto[['cylinders','displacement','horse_power','weight','acceleration','model_year']]
labels=auto['mpg']

In [167]:
X_train, X_test, y_train, y_test = train_test_split(features, labels, random_state=0,test_size = 0.2)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [168]:
# Your code here:

# Create linear regression
auto_model = LinearRegression()
# Train the linear regression
model = auto_model.fit(X_train, y_train)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). In the end, we want the r-squared score to be as high as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [173]:
from sklearn.metrics import r2_score

In [175]:
# Your code here:
y_pred= auto_model.predict(X_train)

#R^2
r2_score(y_train, y_pred) 
#nearly 81% is  a very good score indeed

0.8088490656511089

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [176]:
# Your code here:
y_test_pred= auto_model.predict(X_test)

#R^2
from sklearn.metrics import r2_score
r2_score(y_test, y_test_pred) 
#nearly 81% is  a very good score indeed

0.8088938602131774

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [177]:
# Your code here:
X_train09, X_test09, y_train09, y_test09 = train_test_split(features, labels, random_state=0,test_size = 0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [178]:
# Your code here:
# Create linear regression
auto_model09 = LinearRegression()
# Train the linear regression
model = auto_model09.fit(X_train09, y_train09)

Compute the predicted values and r squared score for our new model and new sample data.

In [181]:
# Your code here:
y_test_pred09= auto_model09.predict(X_test09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [183]:
# Your code here:
#R^2
r2_score(y_test09, y_test_pred09) 
#Well we appreciate that increasing the training sample size has reduce the R^2 value, that is, out model is worst.
#In theory the challenge header was saying that model will improve, but it hasn´t been the case.
#Not sure if I may have made a mistake

0.7971768846093387

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [184]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
"""
class sklearn.feature_selection.RFE(estimator, *, n_features_to_select=None, step=1, verbose=0, importance_getter='auto')[source]¶
Feature ranking with recursive feature elimination.

"""

"\nclass sklearn.feature_selection.RFE(estimator, *, n_features_to_select=None, step=1, verbose=0, importance_getter='auto')[source]¶\nFeature ranking with recursive feature elimination.\n\n"

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [187]:
# Your code here:
estimator = SVR(kernel="linear")
selector = RFE(estimator, n_features_to_select=3, step=1) #Initialize the model

Fit the model and print the ranking

In [188]:
# Your code here:
selector = selector.fit(features, labels)

In [192]:
features.columns

Index(['cylinders', 'displacement', 'horse_power', 'weight', 'acceleration',
       'model_year'],
      dtype='object')

In [190]:
selector.support_

array([ True, False, False, False,  True,  True])

In [191]:
selector.ranking_

array([1, 3, 2, 4, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [199]:
# Your code here:
#According to selector.ranking_ most important features are cylinders, wight and acceleration.

features_reduced=auto[['cylinders','weight', 'acceleration']]
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(features_reduced, labels, random_state=0,test_size = 0.2)

In [200]:
features_reduced

     cylinders  weight  acceleration
0            8    3504          12.0
1            8    3693          11.5
2            8    3436          11.0
3            8    3433          12.0
4            8    3449          10.5
..         ...     ...           ...
393          4    2790          15.6
394          4    2130          24.6
395          4    2295          11.6
396          4    2625          18.6
397          4    2720          19.4

[392 rows x 3 columns]

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [201]:
# Your code here: 
# Create linear regression
auto_model_reduced = LinearRegression()
# Train the linear regression
model = auto_model_reduced.fit(X_train_reduced, y_train_reduced)

In [202]:
y_test_reduced_pred= auto_model_reduced.predict(X_test_reduced)
#R^2
r2_score(y_test_reduced, y_test_reduced_pred) 

#Unfortunatelly R^2 has been reduced, there hasn´t been an improvement reducing number of features.

0.6796560735211306

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.